<!-- <div class="profile-container">
    <button class="profile-avatar" (click)="toggleProfileMenu()">
        {{ userAvatar() }}
    </button>

    @if (isProfileMenuOpen()) {
    <div class="profile-menu glass-panel">
        <div class="user-info">
            <span class="user-name">{{ userName() }}</span>
            <span class="user-role">Full Stack Developer</span>
        </div>
        <hr class="menu-divider" />
        <button class="menu-item">Account Settings</button>
        <button class="menu-item">API Keys</button>
        <button class="menu-item logout">Sign Out</button>
    </div>
    }
</div> -->